<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            <i class="fas fa-code me-2"></i>Samuel
        </a>
        
        <!-- Theme Toggle -->
        <button class="btn btn-outline-light btn-sm me-3 d-lg-none" id="themeToggle">
            <i class="fas fa-moon" id="themeIcon"></i>
        </button>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'home' ? 'active' : '' %>" href="/">
                        <i class="fas fa-home me-1"></i>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'about' ? 'active' : '' %>" href="/about">
                        <i class="fas fa-user me-1"></i>About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'projects' ? 'active' : '' %>" href="/projects">
                        <i class="fas fa-laptop-code me-1"></i>Projects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'resume' ? 'active' : '' %>" href="/resume">
                        <i class="fas fa-file-alt me-1"></i>Resume
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'contact' ? 'active' : '' %>" href="/contact">
                        <i class="fas fa-envelope me-1"></i>Contact
                    </a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <button class="btn btn-outline-light btn-sm ms-2" id="themeToggleDesktop">
                        <i class="fas fa-moon" id="themeIconDesktop"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
